<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/style.css" />
    </head>
    <body>
        <main>
            {{! this block holds the content from the single template }}
            {{{body}}}
        </main>
        <footer>
            <div id="footerText">
                <div id="footer_left">
                    <div>Majoran-Petition</div>
                    <div>SPICED ACADEMY</div>
                </div>
                <div id="footer_center">
                    <div>&copy; Funky Chicken, Inc.{{year}}</div>
                    <div>Majoran-Petition befindet sich derzeit noch in der
                        Entwicklungsphase und könnte Fehler enthalten</div>
                </div>
                <div id="footer_right">
                    <a href="">Datenschutzrichlinie</a>
                    <a href="">Impressum</a>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="public/canvas.js"></script>
        <script src="public/menu.js"></script>
    </body>
</html>