<head>
    <link rel="stylesheet" href="/public/profile.css" />
</head>
<header>
    <div id="header_left">
        <a href=""><img class="logo" src="../public/assets/spiced.png" /></a>
    </div>
    <div id="header_right">
        <a class="ce" href="">Language</a>
        <a class="ce" href="/petition/logout">Log out</a>
    </div>
</header>
<form method="post">
    <div class="profile">
        <p id="pl">Please tell us just a little about yourself</p>
        {{#if error}}
            <p class="er">Oups, something went wrong! Please try again.</p>
        {{/if}}
        <input
            type="text"
            name="age"
            placeholder="Age"
            value="{{profile.age}}"
        />
        {{#if nichtgueltigNaN}}
            <p class="er">no valid age</p>
        {{/if}}
        <input
            type="text"
            name="city"
            placeholder="City"
            value="{{profile.city}}"
        />
        <input
            type="url"
            name="url"
            placeholder="Homepage"
            value="{{profile.url}}"
        />
        {{#if nichtgueltigUrl}}
            <p class="er">no valid homepage</p>
        {{/if}}
        <button type="submit" id="submit">continue</button>
    </div>
</form>