<head>
    <link rel="stylesheet" href="/public/thanks.css" />
</head>
<header>
    <img class="hamburgermenu" src="public/assets/menu.svg" />
</header>
<img class="bild1" src="public/assets/bild2.png" />
<div id="thanks">
    <div id="left">
        <p>Thanks for your petition!</p>
        <img src="{{signature}}" />
    </div>
    <div id="overlay">
        <nav id="menu">
            <button class="btnX">X</button>
            <div class="navi">
                <a href="/signers">See all {{count}} Signers</a>
                <a href="/profile/edit">Edit your profile</a>
                <a href="/petition/delete/signature">Delete your signature</a>
                <a href="/petition/delete/account">Delete your account</a>
                <a href="/petition/logout">Log out</a>
            </div>
        </nav>
    </div>

</div>