* {
    box-sizing: border-box;
}
body {
    background-color: rgba(128, 128, 128, 0.7);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    overflow: hidden;
    margin: 0;
}
#anfang,
#right {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 0;
}

.login p {
    margin-left: 2%;
    font-size: 35px;
}
main {
    flex-grow: 1;
}
p,
button,
canvas {
    color: rgb(251, 255, 0);
    display: block;
    font-size: 25px;
    padding: 8px;
    margin: 20px 0;
}
input {
    display: block;
    font-size: 25px;
    padding: 8px;
    margin: 20px 0;
}
#right a {
    font-weight: bold;
    color: blue;
    font-size: 35px;
    background-color: white;
    text-decoration: none;
}
#err {
    color: rgb(255, 0, 0);
    font-size: 30px;
    margin-left: 10%;
}
input {
    width: 300px;
}
.bild1 {
    width: 100%;
    height: 100%;
    filter: brightness(45%);
    position: absolute;
    z-index: -1;
}
.petition {
    margin-left: 12%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.petition canvas {
    background-color: rgb(255, 187, 0);
    border: 1px dashed white;
    margin-top: 5%;
    margin-bottom: 0;
}
.petition #signature p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: -10px;
    margin-left: 50%;
}
.petition #submit {
    margin-top: 5%;
    margin-left: 40%;
}
#submit {
    cursor: pointer;
    background-color: white;
    color: black;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: 5px solid black;
    margin-top: 2px;
}
.part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 12%;
}

.er {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: -30px;
    margin-left: 15%;
}

footer {
    background-color: rgb(255, 187, 0);
    width: 100%;
    height: 60px;
}
#footerText {
    position: relative;
    top: 12px;
    left: 7px;
}
header {
    padding: 30px;
    background-color: rgb(255, 187, 0);
    position: relative;
}
.hamburgermenu {
    height: 40px;
    width: 35px;
    position: absolute;
    right: 40px;
    top: 10px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Hambuger menu*/
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: all 2s;
}

#overlay.on {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
}

#menu {
    background-color: rgb(255, 187, 0);
    height: 100%;
    width: 50%;
    min-width: 150px;
    max-width: 350px;
    position: absolute;
    right: 0;
    transition: all 2s;
    transform: translateX(100%);
}

.btnX {
    margin-top: -5px;
    position: absolute;
    left: 90%;
    font-size: 30px;
    background-color: rgb(255, 187, 0);
    border: 0px;
    color: blue;
}
#menu a {
    display: block;
    text-decoration: dotted red;
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding: 10px 20px;
}
.navi {
    margin-top: 20px;
}
#overlay.on #menu {
    transform: translateX(0);
}
