* {
    box-sizing: border-box;
}
body {
    background-color: rgba(128, 128, 128, 0.7);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    overflow: hidden;
    margin: 0;
}
#anfang,
#right {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 0;
}
.login p {
    margin-left: 2%;
    font-size: 35px;
}
main {
    flex-grow: 1;
}
p,
button,
canvas {
    color: rgb(251, 255, 0);
    display: block;
    font-size: 25px;
    padding: 8px;
    margin: 20px 0;
}
input {
    display: block;
    font-size: 25px;
    padding: 8px;
    margin: 20px 0;
}
#right a {
    font-weight: bold;
    color: blue;
    font-size: 35px;
    background-color: white;
    text-decoration: none;
}
#err {
    color: rgb(255, 0, 0);
    font-size: 30px;
    margin-left: 10%;
}
input {
    width: 300px;
}
.bild1 {
    width: 100%;
    height: 100%;
    filter: brightness(45%);
    position: absolute;
    z-index: -1;
}
#submit {
    cursor: pointer;
    background-color: white;
    color: black;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: 5px solid black;
    margin-top: 2px;
}
.part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 12%;
}
.er {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: -30px;
    margin-left: 15%;
}
footer {
    background-color: rgb(255, 187, 0);
    height: 15vh;
    margin-top: 0px;
}
#footerText {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    min-height: 15vh;
    grid-gap: 5px;
    padding-top: 20px;
}
#footer_left {
    grid-column: 1 / 2;
    grid-row: 1/-1;
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer_center {
    grid-column: 2 / 3;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -20px;
}
#footer_right {
    margin-right: 5px;
    grid-column: 3 / 4;
    grid-row: 1/-1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header {
    padding: 15px 0;
    background-color: rgb(255, 187, 0);
    display: grid;
    grid-column: 1fr, 1fr;
    margin-top: -5px;
    margin-bottom: -10px;
    /*position: relative;*/
}
.ce {
    margin-top: 5px;
}
header a {
    padding: 0 20px;
    text-decoration: none;
}
#header_left {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#header_right {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logo {
    height: 30px;
}
.hamburgermenu {
    height: 30px;
    padding: 0 20px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Hambuger menu*/
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: all 2s;
}
#overlay.on {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
}
#menu {
    background-color: rgb(255, 187, 0);
    height: 100%;
    width: 50%;
    min-width: 150px;
    max-width: 315px;
    position: absolute;
    right: 0;
    transition: all 2s;
    transform: translateX(100%);
}
.btnX {
    margin-top: -5px;
    position: absolute;
    left: 90%;
    font-size: 30px;
    background-color: rgb(255, 187, 0);
    border: 0px;
    color: blue;
}
#menu a {
    display: block;
    text-decoration: dotted red;
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding: 10px 20px;
}
.navi {
    margin-top: 20px;
}
#overlay.on #menu {
    transform: translateX(0);
}
