#thanks {
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}
#right {
    margin-left: 37%;
}
#left p {
    font-size: 35px;
    margin-left: -7px;
}
#left img {
    border: 2px solid black;
    background-color: rgb(255, 187, 0);
    width: 100%;
}
